
<!-- <app-toolbar></app-toolbar> -->



<ion-content class="contentDiv">

  <ion-card class="shortLinkCard" *ngIf="linkDetails">

    <ion-card-header>
      <ion-card-title class="cardTitle"> ShortLink </ion-card-title>
    </ion-card-header>

    <ion-card-content class="mainCardContent">

      <div class="shortlinkAction">
        <ion-input id="shortlinkHref" value={{href}} readonly></ion-input>
        <ion-button id="copyButton" color="primary">Copy</ion-button>
      </div>

    </ion-card-content>

  </ion-card>


  <ion-card class="companyListCard" *ngIf="linkDetails">
    
    <ion-card-header>
      <ion-card-title class="cardTitle"> {{linkDetails.author.username}} </ion-card-title>
    </ion-card-header>

    <ion-card-content class="mainCardContent">


      <ion-item class="companyInfoListItem" color="primary">
        <ion-label>Long Url</ion-label>
        <ion-label>{{linkDetails.link}}</ion-label>
      </ion-item>

        </ion-card-content>

  </ion-card>


  <ion-card class="companyListCard" *ngIf="linkDetails">

    <ion-card-header>
      <ion-card-title class="cardTitle"> Previous Links </ion-card-title>
    </ion-card-header>

    <ion-card-content class="mainCardContent">

      <ion-item class="companyInfoListItem" color="primary" width="full">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Contact Name</ion-label>
        <ion-label>{{linkDetails.link}}</ion-label>
      </ion-item>

        </ion-card-content>

  </ion-card>

</ion-content>
