
<app-toolbar></app-toolbar>



<ion-content class="mainContent">

  <div class="contentContainerDiv">
    <ion-card class="shortLinkCard" *ngIf="linkDetails">

      <ion-card-header>
        <ion-card-title class="cardTitle"> ShortLink </ion-card-title>
      </ion-card-header>

      <ion-card-content class="mainCardContent">

        <div class="shortlinkAction">
          <ion-input class="shortlinkHref" value={{href}} readonly></ion-input>
          <ion-button (click)="copyShortLink()" class="copyButton" color="primary">Copy</ion-button>
        </div>

      </ion-card-content>

    </ion-card>


    <ion-card class="longUrlCard" *ngIf="linkDetails">
      
      <ion-card-header>
        <ion-card-title class="cardTitle"> Long URL </ion-card-title>
      </ion-card-header>

      <ion-card-content class="longUrlCardContent">


        <div class="longUrlBoxDiv">
          <p>{{linkDetails.link}}</p>
        </div>

      </ion-card-content>

    </ion-card>


    <ion-card class="prevLinksCard" *ngIf="linkDetails">

      <ion-card-header>
        <ion-card-title class="cardTitle">Recent Links </ion-card-title>
      </ion-card-header>

      <ion-card-content class="mainCardContent">

        <div class="prevLinksCardContentWrapper">
          <ion-item class="prevLinkItem" *ngFor="let link of myLinks" button (click)="goToShortLink(link._linkHash)">
            <ion-label >
              <!-- <ion-icon slot="start" name="aperture-outline"></ion-icon> -->
              {{link.link}}
            </ion-label>
          </ion-item>

        </div>

      </ion-card-content>

    </ion-card>
          <div class="snackbar"><p class='showToastPara'>Copied!</p></div>
  </div>
</ion-content>
