
@media screen and (min-width: 280px) and (max-width: 540px) {

    .mainContent {
        display: flex;
        flex-direction: column;
    }


    .contentContainerDiv {
        display: flex;
        flex-direction: column;
        background-color: #498270 !important;
        // height: 100%;
        height: 100vh;
    }

    .shortLinkCard {
        background-color: rgb(247, 243, 243);
        display: flex;  
        max-width: 600px;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }

    .cardTitle {
        font-size: 32px;
    }

    .shortlinkAction {
        display: flex;
        flex-direction: row;
    }


    .shortlinkHref{
        height: 46px;
        --background: white;
        font-size: 4vmin;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        text-align: center;
        text-overflow: ellipsis;
    }

    .copyButton {
        --border-radius: 0px 10px 10px 0px !important;
        display: flex;
        height: 46px;
        font-size: 20px;
        margin:auto;
    }



    .longUrlCard{
        background-color: rgb(247, 243, 243);
        padding-bottom: 10px;
    }

    .longUrlBoxDiv {
        height: 60px;
        background: white;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        text-align: center;
        text-overflow: ellipsis;
        overflow: scroll;
    }

    .longUrlBoxDiv p{
        font-size: 20px;
    }

    .prevLinksCard {
        background-color: rgb(247, 243, 243);
        padding-bottom: 10px;
    }


}

@media screen and (min-width: 541px) {

    .mainContent {
        display: flex;
        flex-direction: column;
    }


    .contentContainerDiv {
        display: flex;
        flex-direction: column;
        background-color: #498270 !important;
        // height: 100%;
        height: 100vh;
    }

    .shortLinkCard {
        background-color: rgb(247, 243, 243);
        display: flex;  
        max-width: 600px;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }

    .cardTitle {
        font-size: 32px;
    }

    .shortlinkAction {
        display: flex;
        flex-direction: row;
    }


    .shortlinkHref{
        height: 46px;
        --background: white;
        font-size: 4vmin;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        text-align: center;
        text-overflow: ellipsis;
    }

    .copyButton {
        --border-radius: 0px 10px 10px 0px !important;
        display: flex;
        height: 46px;
        font-size: 20px;
        margin:auto;
    }



    .longUrlCard{
        background-color: rgb(247, 243, 243);
        padding-bottom: 10px;
    }

    .longUrlBoxDiv {
        height: 200px;
        background: white;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
        text-align: center;
        text-overflow: ellipsis;
        overflow: scroll;
    }

    .longUrlBoxDiv p{
        font-size: 20px;
    }

    .prevLinksCard {
        background-color: rgb(247, 243, 243);
        padding-bottom: 10px;
    }


}

.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  animation: fadein 1.5s, fadeout 1.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}