.topCardContent {
    display: flex;
    text-align: center;
    color: black;
    align-items: center;
    flex-direction: column;
}

.topCard{
    background-color: rgb(255, 255, 255, .7);
}

.contentDiv{
    background-color: #498270;
}

@media screen and (min-width: 280px) and (max-width: 540px) {
    .contentDiv{
        padding-top: 25px;
        height: 100%;
    }

    .topCard{
        display: flex;
        flex-direction: column;
    }

    .topCardTitle {
        text-align: center;
    }

}


@media screen and (min-width: 541px) and (max-width: 1920px) {
     .contentDiv{
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }

    .topCard{
        display: flex;
        flex-direction: column;

    }

    .topCardTitle {
        font-size: 50px;
        padding-top: 50px;
        text-align: center;
    }

    .topCardContent {
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2vh;
    }   

}