<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true" class="mainContent">

  <div class="contentDiv">

    <ion-card class="topCard">
        <img src="./assets/images/welcome.png" id="topimagecard">
        <ion-card-header>
          <ion-card-title class="topCardTitle">Welcome!</ion-card-title>
        </ion-card-header>

      <ion-card-content class="topCardContent">
        Apart from seasoning the lobster bisque, he farted on the meringue, sneezed on braised endive, 
        and as for the cream of mushroom soup, well ...
        You get the idea.
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
