<app-toolbar></app-toolbar>

<ion-content [fullscreen]="true" class="mainContent">

  <div class="contentDiv">

    <ion-card class="topCard">
        <img src="./assets/images/test.jpg" (click)="goToShortener()" id="topimagecard">
        <ion-card-header>
          <ion-card-title class="topCardTitle">Welcome!</ion-card-title>
        </ion-card-header>

      <ion-card-content class="topCardContent">
       Welcome to the link shortener! 
       One of many apps to come, please click on the image to begin.
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
